body{
    background-image: url("IMG/white\ bg.jpg");
    height:  cover;
    width: cover;
    background-size: cover;
    background-position: center;
    font-size: x-large;
}
.wish{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline;
}
.center{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 25cm;
 height: 3cm;
}
h1{
text-align: center;
font-family: 'Permanent Marker', cursive;
font-size: 100%;
color: black;
}
.own{
    font-family: 'Dancing Script', cursive;
    color: red;
    font-weight: 500;
    display: inline;
    cursor: pointer;
}
.lao{
  font-family: 'Dancing Script', cursive;
  color: red;
  font-weight: 500;
  display: inline;
  cursor: pointer;
}
h2{
font-family: 'Josefin Sans', sans-serif;
    font-size: 99%;
    font-weight: 500;
    color: black;
}
 .infor{
    display: flex;
    column-gap: 5%;
    text-align: right;
    float: right;
 }
 .box-1{
    text-align: right;
    float: right;
    
 }
 .box-2{
    text-align: right;
    float: right;
 }
 .reach{
    background-color: black;
    color: white;
    cursor: pointer;
    column-gap: 5%;
    float: right;
    background-color: black;
  transform: scale(1,1);
   
    
 }
 .reach:hover{
    background-color: white;
    color: black; 
    font-weight: 500;
    transform: scale(1,1);
 
 }
 .about{
    background-color: black;
    color: white;
    cursor: pointer;
    column-gap: 5%;
   float: right;
   margin-right: 30px;
   background-color: black;
  transform: scale(1,1);
   
 }
 .about:hover{
  background-color: white;
  color: black;
  transform: scale(1,1);
 }
 .motto{
    font-style: italic;
    padding: 0cm;
 }
  
  .image{
    width: 50%;
    height: 50%;
  }
  .fot{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: none;
    font-size: medium;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
