body{
    background-image: url("IMG/white\ bg.jpg");
    height:  cover;
    width: cover;
    background-size: cover;
    background-position: center;
    font-size: x-large;
}
.dropdown {
   position: relative;
   display: inline-block;
 }
 .dropbtn{
   background-color: black;
   color: white;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: black;
   width: 220%;
   height: 170%;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: red;
   font-size: 50%;
   text-align: center;
   padding: 0;
   line-height: 2;
   text-decoration: none;
   display: block;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
.wish{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline;
    font-weight: 250%;
    font-size: large;
    color: brown;
}
.center{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 25cm;
 height: 3cm;
}
h1{
text-align: center;
font-family: 'Permanent Marker', cursive;
font-size: 105%;
color: black;
}
.own{
    font-family: 'Dancing Script', cursive;
    color: red;
    font-size: medium;
    font-weight: 500;
    display: inline;
    cursor: pointer;
}
.lao{
  font-family: 'Dancing Script', cursive;
  color: red;
  font-weight: 500;
  display: inline;
  cursor: pointer;
}
h2{
font-family: 'Josefin Sans', sans-serif;
    font-size: 70%;
    font-weight: 500;
    color: black;
}
 .infor{
    display: flex;
    column-gap: 2%;
    text-align: right;
    float: right;
 }
 .box-1{
    text-align: right;
    float: right;
    
 }
 .box-2{
    text-align: right;
    float: right;
 }
 .reach{
    background-color: black;
    color: white;
    cursor: pointer;
    column-gap: 2%;
    float: right;
    background-color: black;
  transform: scale(1,1);
   
    
 }
 .reach:hover{
    background-color: white;
    color: black; 
    font-weight: 500;
    transform: scale(1,1);
 
 }
 .about{
    background-color: black;
    color: white;
    cursor: pointer;
    column-gap: 2%;
   float: right;
   margin-right: 30px;
   background-color: black;
  transform: scale(1,1);
   
 }
 .about:hover{
  background-color: white;
  color: black;
  transform: scale(1,1);
 }
 .animated-button{
   position: absolute;
   top: 0px;
   right: 0px;
 }
p{
   margin: 0%;
   line-height: 1;
    padding: 0cm;
    margin-left: 70%;
 }
 .moto{
   font-size: 40%;
 }
  .big-moto{
       font-size: 90%;
   color: rgba(173, 11, 11, 0.753);
   margin-left: 70%;
     }
 
  .image{
    width: 50%;
    height: 50%;
  }
  footer{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   font-size: 67%;
   color: red;
   padding: 20px;
   text-align: center;
  }
  
  
